<!-- Image and text -->
	<nav class="navbar navbar-light" >
	  <a class="navbar-brand" href="#" style="color:white;">
	    <img src="/public/img/Logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
	    &nbsp;DEEPCAT
	  </a>
	</nav>